
// TEXT

$base-font-size: 16px;
$line-height-ratio: 1.2;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-font-family: 'Bigshot One', Helvetica Neue, Cursive;

// COLORS

$color-sass: #c6538c;
$color-jaicab: #069;
$color-primary: mix($color-sass, $color-jaicab);

$color-text: #333;
$color-background: #f5f5f5;


$color-logo: #f2f2f2;
$color-logo-detail: lighten($color-logo, 40%);

// ext()
$ext-budget: (
  total: 15,
  heading: 12,
  form: 5
);




// Media queries

$mq-breakpoints: (
    tiny:       240px,
    small:      320px,
    smallish:   480px,
    medium:     640px,
    mediumish:  720px,
    big:        960px,
    bigish:     1200px,
    wide:       1500px
);