


%header--main{
	background: $color-primary;

	%header__heading{
		color: $color-background;
		font-family: $base-font-family;
		text-shadow: .1em .1em 0 darken($color-primary, 20%);
	}
}

%header__subtitle{
	border-top: .05em solid lighten($color-primary, 40%);

	margin: {
		top: 1.25em;
		right: 0;
		bottom: 1em;
		left: 0;
	}
	padding-top: 1.5em;
	background: $color-primary;
}


.header--main{
	@include ext(padded-centered);
	@include ext(header--main);
}

.header__subtitle{
	@include ext(header__subtitle);
}