

a{
	text-decoration: none;
	color: darken($color-primary, 0%);
	transition: .25s all;

	&:hover,
	&:active,
	&:focus{
		text-decoration: underline;
		color: darken($color-primary, 0%);
		outline: none;
	}
}
